[Unit]
Description=Initialize Filesystems
ConditionPathExists=!/root/bus
After=local-fs-pre.target mnt.mount root.mount var-log-journal.mount
Before=fs-fallback.service local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/sbin/mkfs.ext4 -FFq /dev/mmcblk0p3
ExecStartPost=/bin/systemctl start mnt.mount
ExecStartPost=/bin/mkdir /mnt/tmp /mnt/overlay /mnt/journal
ExecStartPost=/bin/systemctl start root.mount
ExecStartPost=/bin/systemctl start var-log-journal.mount
ExecStartPost=/bin/systemctl restart systemd-journal-flush.service
ExecStartPost=/bin/mkdir -p /root/log/pat /root/data/bist /root/data/test/general/

[Install]
WantedBy=local-fs.target
