[Unit]
Description=Save Boot ID
ConditionPathExists=/mnt/journal
After=local-fs.target
Before=default.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "cat /run/machine-id >> /mnt/journal/id.txt"

[Install]
WantedBy=default.target
