[Unit]
Description=Initialize Journal
ConditionPathExists=/mnt/journal
After=local-fs.target
Before=default.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/init_journal.sh

[Install]
WantedBy=default.target
